#title {
  background-color: #ff4c68
}

.title{
  font-family: 'Montserrat', sans-serif;
}

.ubuntu{
font-family: 'Ubuntu', sans-serif;

}

h1{
  font-family: 'Montserrat-black';
  font-size: 3rem;
  line-height: 1.5;
}
